# Check docker/Dockerfile
version: "3.9"
services:
  tdcp-env:
    container_name: ${TRAIN_CONT_NAME:-tdcp-env}
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: tdcp-env
    stdin_open: true
    tty: true
    command: bash

    shm_size: 16gb
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ '${GPU}' ]
              capabilities: [ gpu ]
          cpus: '${CPUS:-1.0}'

    volumes:
      - '/tmp:/tmp'
      - '${DATA}:/media/home'
      - '${CODE:-$PWD}:/work'

  tdcp-tensorboard-dancetrack:
    container_name: ${TB_CONT_NAME:-tdcp-tensorboard-dancetrack}
    build:
      context: ..
      dockerfile: docker/tensorboard.Dockerfile
    image: tdcp-tensorboard
    stdin_open: true
    tty: true

    shm_size: 4gb

    ports:
      - "56006:6006"
      - "56007:6007"
      - "56008:6008"

    volumes:
      - '${TB_LOGS}:/tb_logs'
