max_epochs: 20
gradient_clip: null

loss_config:
  _target_: mot_jepa.trainer.losses.infonce.BatchLevelInfoNCE

optimizer_config:
  _target_: torch.optim.Adam
  lr: 1e-4

scheduler_config:
  _target_: mot_jepa.trainer.scheduler.create_warmup_cosine_annealing_scheduler
  n_warmup_epochs: 1
