max_epochs: 10
gradient_clip: 1.0

optimizer_config:
  _target_: torch.optim.Adam
  lr: 1e-3

scheduler_config:
  _target_: mot_jepa.trainer.scheduler.create_warmup_cosine_annealing_scheduler
  n_warmup_epochs: 1
